@keyframes animateBackgroundColor {
  from {background-color: red;}
  to {background-color: yellow;}
}

.colorfulBox {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: red;
  animation-name: animateBackgroundColor;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

  margin-bottom: 30px;
}

.colorfulMovingBox {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  animation-name: animateColorAndPosition;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;

}
  
@keyframes animateColorAndPosition {
  0%   {
    background-color:red;
    left:0px;
    top:0px;
  }
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}