.colorfulBox {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: animateBackgroundColor;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  margin-bottom: 30px;
}

@keyframes animateBackgroundColor {
  from {background-color: red;}
  to {background-color: yellow;}
}

.colorfulMovingBox {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: animateColorAndPosition;
  animation-duration: 4s;
}
  
@keyframes animateColorAndPosition {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}