<div class="projectBlock">
  <!--no need for quotes when you're passing in a variable like {{slug}} -->
  <a href={{slug}}>
    <img src={{imageUrl}} alt={{imageTitle}}/>
    {{ title }}
  </a>
</div>
