body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
}

.projectBlock {
  width: calc(33% - 40px);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectBlock a {
  text-align: center;
  padding-top: 10px;
}

.projectBlock img {
  width: 100%;
}

.projectImage {
  width: 30%;
}

.projectImage img {
  width: 100%;
}


.projectTitle {
  width: calc(70% - 40px);
  font-size: 24px;
  padding-left: 40px;
}

.description {
  width: 100%;
  padding: 20px;
}

.projectDescription img {
  width: 30%;
  height: auto;
}