.block {
  width: 50%;
  background: teal;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.block p {
  cursor: pointer;
}

.block:first-child, .block:last-child {
  background: salmon;
}